#donate-page {

	p {
		text-align: left;
		margin: 10 auto;
		width: 410px;

		@media (max-width: $screen-sm-max) {
			width: 360px;
		}

		@media (max-width: $screen-xs-max) {
			width: 220px;
			margin: 20 auto;
		}
	}

	.donate-button {
		margin: 30 auto;
		color: white;
		font-weight: normal;
	}
}
