#download-page {

	.more-details {
		margin-top: 50px;
		padding-left: 30px;
		padding-right:30px;
		text-align:left;

		i {
			display: block;
			width: 220px;
			margin-left:auto;
			margin-right: auto;
		}
	}

	.install-box {
		margin-bottom: 80px;
		color:white;

		span {
			color: #9ae4ff;
		}
	}


	.suggestions-box {
		margin-top: 40px;

		.suggestion {
			width: 310px;
			margin-left: auto;
			margin-right: auto;

			/* Firefox Fix for incorrect width */
			white-space: nowrap;

			h2,p {
				text-align: left;
			}

			h2 {
				margin-bottom: 6px;
			}

			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				height: 130px;
			}

			@media (max-width: $screen-sm-max) {
				margin-bottom: 50px;
				width: 270px;
			}

		}

		@media (max-width: $screen-sm-max) {
			margin-top: 30px;
		}
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		padding-top: 30px;
	}
}
