#home-page {

  strong {
      color: $primary-color;
  }

  input[type=button] {
      display: inline-block;
  }

  .screenshot-wrapper {
    display: inline-block;
    vertical-align: top;
  }

  .screenshot {
      display: block;
      margin-left: -75px;

      @media (max-width: $screen-md-max) {
        width: 610px;
        height: auto;
      }

      @media (max-width: $screen-sm-max) {
        margin-left: auto;
        margin-right: auto;
      }

      @media (max-width: $screen-xs-max) {
        width: 300px;
      }

      @media (min-width: $screen-lg-min) {
        margin-top: -50px;
        margin-right: 0;
      }
  }

  .download-box {

      h1 {
          @media (max-width: $screen-xs-max) {
            display:none;
          }
      }

      .subheader {
        @media (max-width: $screen-xs-max) {
            font-weight: bold;
            text-align:center;
            margin-bottom: 40px;
            color: white;
        }
      }

      .ul-container {

        @media (max-width: $screen-sm-max) {
            margin-left:auto;
            margin-right: auto;
            width: 320px;
        }

        @media (max-width: $screen-xs-max) {
            width: 235px;
        }
      }

      ul {
          margin:0;
          padding: 0;
          margin-left: 14px;
          margin-bottom: 12px;
          text-align: left;

          li {
              list-style-image: url("../images/li-dot.png");
          }
      }

      .hr {
          display: block;
          margin-top: 24px;
          margin-bottom: 12px;
          height: 2px;
          width: 305px;
          background-image: url("../images/home/line-download.png");

          @media (max-width: $screen-sm-max) {
              background-image: none;
              background-color: $active-color;
              margin-left: auto;
              margin-right: auto;
              width: 375px;
          }

          @media (max-width: $screen-xs-max) {
            width: 260px;
          }
      }

      .hr-bottom {
          display: hidden;
          margin-top: 12px;
          margin-bottom: 24px;
          height: 2px;

          @media (max-width: $screen-sm-max) {
              display: block;
              background-image: none;
              background-color: $active-color;
              margin-left: auto;
              margin-right: auto;
              width: 375px;
          }

          @media (max-width: $screen-xs-max) {
            width: 260px;
          }
      }

      .github-button {
          margin-left: 6px;
          img {
              padding-bottom: 4px;
          }
      }

      .target-os {
          font-size: 12px;
      }

      .download-hidden-text {
        font-style: italic;
        margin-top: 60px;
      }


      .wrapper {
        @media (max-width: $screen-xs-max) {
            width: 260px;
            margin: 0 auto;
        }
      }


      @media (max-width: $screen-sm-max) {
          text-align: center;

      }

      @media (max-width: $screen-xs-max) {
          padding: 0 30px;
          text-align: left;
      }
  }

  .feature {

    padding: 20px 0;
    
    i {
      color: $active-color;
      margin: 30px 0;
    }

    &[index="1"] {
      background-color: #003856;
    }

    &[index="2"] {
      background-color: #003f60;
    }


    &[index="x"] {
      background-color: #002135;
    }
  }
}
