#packages-page {

	.input-wrapper {
		margin: 12px 0;
		padding: 0 12px;
		height: 34px;
		width: 270px;
		border: 1px solid $active-color;
		background-color: rgba(0,0,0,0.3);
		position:relative;
	
		input {
			background-color: transparent;
			border-color: transparent;
			height: 31px;
			width: 240px;
			font-size: 14px;
			color: white;

			&:focus {
				outline:none;
			}

			&::-webkit-input-placeholder { color: $text-color; }
			&:-moz-placeholder { color:$text-color; } /* FF 4-18 */
			&::-moz-placeholder { color:$text-color; } /* FF 19+ */
			&:-ms-input-placeholder { color:$text-color; } /* IE 10+ */

			&:focus::-webkit-input-placeholder { color:transparent; }
			&:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
			&:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
			&:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
		}

		img {
			position: absolute;
			top: 7px;
			right: 12px;
		}
	}

	.country-solution-wrapper {
		width: 460px;
		margin: 0 auto;

		@media (max-width: $screen-md-max) {
			width: 490px;
		}
	}

	.extension-solution-wrapper,.discover-solution-wrapper {
		margin: 0 auto;
		width: 490px;

		@media (max-width: $screen-md-max) {
			margin-top: 60px;
		}
	}

	h1 {
		margin-bottom: 80px;
	}


	p {
		text-align: left;
		margin: 10 auto;


		@media (max-width: $screen-sm-max) {

		}

		@media (max-width: $screen-xs-max) {
			margin: 20 auto;
		}
	}

	.country-package-found, .country-package-not-found {
		display: none;
	}

	.more-details {
		margin-top: 50px;
		padding-left: 30px;
		padding-right:30px;
		text-align:left;

		i {
			display: block;
			width: 220px;
			margin-left:auto;
			margin-right: auto;
		}
	}
}
