$font-stack: Roboto, sans-serif;
$primary-color: white;
$active-color: #039be5;
$active-color-hover: #0486c4;
$text-color: #c3c3c3;

$text-size: 16px;
$text-size-xs: 14px;
$text-size-sm: 14px;

/* Bootstrap 3 Based Values */
$screen-xs-min: 0px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;


html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $font-stack;
  font-size: $text-size;
  color: $text-color;

  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: 70% 0%;

  -webkit-font-smoothing: antialiased;

  padding-top: 30px;
  /* Margin bottom sticky footer fix */
  margin-bottom: 30px;

  @media (max-width: $screen-sm-max) {
    font-size: $text-size-sm;
  }

  @media (max-width: $screen-xs-max) {
    font-size: $text-size-xs;
    padding-top: 0;
    background-image: none;
    background-color: #00324d;
    margin-bottom: 0;
  }

}

a {
  color : $active-color;
  text-decoration: none;
  font-family: $font-stack;
  font-size: $text-size;
  transition: color 300ms;
  cursor:pointer;

  &:hover {
    color:$active-color-hover;
    text-decoration: none;
  }

  @media (max-width: $screen-sm-max) {
    font-size: $text-size-sm;
  }

  @media (max-width: $screen-xs-max) {
    font-size: $text-size-xs;
  }
}

nav {
  line-height: 61px;
  text-align: right;

  a {
    margin: 0 12px;
    color: $primary-color;

    &.first {
      margin: 0 12px 0 0;
    }
    &.last {
      margin: 0 0 0 12px;
    }
    &.current {
      color: $active-color;
      cursor: default;
    }
  }

  .mobile-nav-button {
    position:absolute;
    left: 15px;


    &[action=open] {
      background-image: url("../images/mobile-nav-open.png");
      width: 16px;
      height: 10px;
      top: 20px;
    }

    &[action=close] {
      background-image: url("../images/mobile-nav-close.png");
      width: 12px;
      height: 12px;
      top: 13px;
    }
  }

  .mobile-logo {
    margin-top: 18px;
  }


  @media (max-width: $screen-sm-max) {
    line-height: 62px;
    font-size: $text-size-sm;
  }

  @media (max-width: $screen-xs-max) {
    background-color: #00273d;
    height: 48px;
    padding: 0;
    box-sizing: border-box;
    padding:0 15px;
    position: relative;
    line-height: 35px;
    text-align: center;
  }
}

#mobile-nav {
  position: absolute;
  top:36px;
  left:0;
  height: 0;
  width: 100%;
  background-color:#00273d;
  z-index: 2;
  overflow:hidden;
  overflow-x: hidden;
  transition: height 0.4s ease;

  a {
    color: $primary-color;
    &.current {
      color: $active-color;
      cursor: default;
    }
  }

  ul {
     list-style-type: none;
     margin-left: auto;
     margin-right: auto;
     padding: 20px 30px;

     li {
       color:white;
       font-size: 14px;
       border-bottom: 1px solid white;
       padding: 10px 0;

       &:active {
         color: $active-color;
       }
     }
  }
}

h1 {
  font-size: 32px;
  font-weight: bold;
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
  margin-bottom: 10px;
  color: $primary-color;

  @media (max-width: $screen-sm-max) {
    font-size: 28px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 24px;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
  color: $primary-color;

  @media (max-width: $screen-sm-max) {
    font-size: 21px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 18px;
  }
}

h3 {
  font-size: 21px;
  font-weight: normal;
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
  color: $primary-color;

  @media (max-width: $screen-xs-max) {
    font-size: 17px;
  }
}

p {
  line-height: 120%;
}

input[type=button] {
    display: block;
    width: 190px;
    height: 38px;
    font-size: $text-size;
    background: $active-color;
    color: #1a1a1a;
    font-weight: bold;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 12px 0;
    transition: background 300ms,box-shadow 300ms;

    &:hover {
      background: $active-color-hover;
    }
}

#header {
    position: relative;
    margin-bottom: 100px;

    .logo {
      cursor: pointer;

      @media (max-width: $screen-sm-max) {
        width: 230px;
      }

    }

    .logo-subtitle {
        font-size:14px;
        margin-top: 3px;
        font-weight: bold;
        cursor: pointer;

        @media (max-width: $screen-sm-max) {
          font-size: 12px;
        }
    }

    @media (max-width: $screen-sm-max) {
      margin-bottom: 80px;
    }

    @media (max-width: $screen-xs-max) {
      text-align: center;
      margin-bottom: 30px;
    }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  color: #ccc;
  font-size: 14px;

  a {
    font-size: 14px;
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.col-xs-no-padding {
  @media (max-width: $screen-xs-max) {
    padding:0;
  }
}

@import "home-page";
@import "download-page";
@import "donate-page";
@import "packages-page";
